.header > .next {
	position: absolute;
	top: 18px;
	right: 18px;
}

.detail-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 18px;
}

.detail-container-item > .title {
	font-weight: bold;
	color: rgb(138, 138, 138);
}

.input-box {
	display: flex;
	gap: 15px;
}

.input-box > input {
	flex: 4;
}

.input-box > button {
	flex: 1;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 5px 10px;
}
