.login-container {
	margin-top: 18px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.find {
	display: flex;
	align-items: center;
	justify-content: center;
}

.find > li > a {
	color: #939393;
}

.find > li:last-child::before {
	padding: 0 12px;
	color: #939393;
	content: '|';
	font-size: 0.6em;
}

footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #939393;
	padding: 24px;
	gap: 18px;
}

footer .signup-button {
	margin-left: 8px;
	color: rgb(47, 182, 164);
}
.oauth-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.oauth-button {
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #939393;
	border-radius: 5px;
	gap: 10px;
}

.oauth-button > img {
	height: 15px;
}
.oauth-button > span {
	color: black;
}

.input-box:not(:focus) ~ .login-error {
	display: block;
}

.input-box.invalid ~ .message {
	display: none;
}
