.header > .next {
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
}

.phone-container {
	margin-top: 12px;
	width: 100%;
	padding: 18px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.phone-container-item > button {
	margin-top: 40px;
}

.phone-container-item.auth-form {
	display: none;
}

.title {
	color: #888;
	transition: color 0.3s;
}

button.send-num {
	width: 100%;
	background-color: #fff;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.refresh-num {
	margin-top: 30px;
	text-align: right;
	color: rgb(47, 182, 164);
	cursor: pointer;
}
