doctype html
head
  title=title
  link(rel='stylesheet', href='/static/stylesheets/reset.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/detail.css', type='text/css')

#app
  header.header
    span.prev
      img.close(src="/static/images/arrow-left.svg")
    span.bold.heading 회원가입
    div.next.disabled-text
      span.bold.heading 완료

  form.detail-container(method="POST" action="/signup")
    .detail-container-item
      p.title 이메일

      if email
        .input-box.email-field.invalid
          input.current-input(type="email" placeholder="이메일을 입력해주세요." name="email")
          span.success
          button.check-btn 중복확인
      else
        .input-box.email-field
          input.current-input(type="email" placeholder="이메일을 입력해주세요." name="email")
          span.success
          button.check-btn 중복확인
        
      if email
        p.message.server-error 중복된 이메일입니다!
        p.message 유효한 이메일이 아닙니다!

    section.detail-container-section
      .detail-container-item
        p.title 닉네임
        .input-box.nickname-field
          input.current-input(type="text" placeholder="예) baemin_good" name="nickname")
          span.success
          p.message 닉네임은 5글자 이상이어야 합니다!
          

      .detail-container-item
        p.title 비밀번호
        .input-box.password-field
          input.current-input.password(type="password" placeholder="10자 이상 대문자, 소문자, 숫자, 특수문자 중 2종류 조합" name="password")
          span.success
          p.message 10자 이상 대문자, 소문자, 숫자, 특수문자 중 2종류를 조합해야 합니다!

      .detail-container-item
        p.title 생년월일
        .input-box.date-field
          input.current-input.date(type="text" placeholder="예) 2000.01.01" name="date")
          span.success
          p.message 유효한 월과 일을 입력해주세요!
      

  script(type="module" src="/static/js/pages/signup/detail.js")