doctype html
head
  title=title
  link(rel='stylesheet', href='/static/stylesheets/reset.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/phone.css', type='text/css')

div#app
  header.header
    span.prev
      img.close(src="/static/images/arrow-left.svg")
    span.bold.heading 회원가입
    div.next.disabled-text
      span.bold.heading 다음

  section.phone-container
    form.phone-container-item
      p.title 휴대전화
      .input-box.phone
        input.current-input(type="text" placeholder="전화번호를 입력해주세요." maxlength="13" name="phone")
        img.close-input(src="/static/images/cancel-circle.png")
        span.success
        p.message 전화번호 양식에 맞춰 입력해 주세요.
      button.send-num 인증번호 받기

    .phone-container-item.auth-form
      p.title 인증번호
      .input-box.auth
        input.current-input.auth(type="text" placeholder="인증번호를 입력해주세요." maxlength="4" )
        img.close-input(src="/static/images/cancel-circle.png" name="auth")
        span.success
      p.refresh-num 인증번호 다시받기

    script(type="module" src="/static/js/pages/signup/phone.js")
  

    


      






      





    
